/*conf. geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Paleta de cores*/
:root {
  --cor0: #7b157a;
  --cor1: #641062;
  --cor2: #4e0a4a;
  --cor3: #370531;
  --cor4: #210019;
  --cor5: #fff2e7;
  --cor6: #fff2e780;
}

html {
  font-family: Inter, sans-serif;
  font-weight: 500;
}
body {
  background: var(--cor3);
  color: var(--cor5);
}
main {
  display: flex;
  flex-direction: column;
}

/*Links*/
a {
  text-decoration: none;
  color: var(--cor6);
}
a:hover {
  color: var(--cor5);
}
ul {
  list-style: none; /*Remove estilo da lista*/
}

/*estilo body*/

/*Navegação*/
nav {
  max-width: 1120px;
  margin: auto;
  padding: 1.5rem 10rem;
  /*flexbox*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*Titúlo e Subtitúlo*/
h1 {
  font-family: Montserrat;
  font-size: 3.5rem;
  font-weight: 800;
}
hr {
  border-color: var(--cor0);
}
.mesas-titulo {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 700;
  color: var(--cor6);
}
.subtitulo {
  font-family: Inter;
  color: var(--cor6);
  font-size: 1.5rem;
  font-weight: 400;
}

/*estlizando mesas*/
.mesas {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  padding: 4rem;
  margin: auto;
}
.mesa-cabecalho {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.mesas-subtitulo {
  font-family: inter;
  font-size: 1rem;
  font-weight: 400;
  color: var(--cor6);
}

/*Elementos de cabeçalho*/

.logo {
  text-transform: uppercase; /*Transforma todas as letras em maiúsculo*/
  font-family: Teko;
  font-size: 2rem;
  font-weight: 600;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.github {
  color: var(--cor5);
  font-weight: 600;
}

/*Principal*/
.hero {
  background-color: var(--cor4);
  max-width: 1120px;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding: 0rem 2rem;
  margin: auto;
  overflow: clip;
}
.hero-conteudo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero-images-container {
  max-width: 45%;
  column-count: 4;
  column-gap: 1rem;
  margin: -1rem;
}
.hero-images-container > figure > img {
  width: 100%;
  border-radius: 0.5rem;
}
.hero-backgrond {
  background-color: var(--cor4);
}

.destaque {
  font-family: Epilogue;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
.roxo {
  color: var(--cor0);
}
.rosa {
  color: #ff0086;
}

/*Estilo do botáo*/
.botao-container {
  width: 100%;
  max-width: 1120px;
  padding: 1rem;
  margin: auto;
  transform: translate("0, -50%");
}
button {
  background-color: var(--cor1);
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: var(--cor2);
  border-radius: 10px;
}

/*estlizando cards*/
.mesas-card-container {
  padding: 0rem 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.mesas-card {
  background-color: var(--cor4);
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 29rem;
  margin-top: 2rem;
}
.mesas-card-cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-titulo {
  color: var(--cor5);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
}
.card-avaliacao {
  color: var(--cor6);
  font-size: 1rem;
  font-weight: 500;
}
.card-descricao {
  color: var(--cor6);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}
.card-autor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.card-autor > img {
  border-radius: 20rem;
  width: 2rem;
}
.autor-nome {
  color: var(--cor6);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
}

footer {
  background-color: var(--cor4);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  margin: auto;
}
.footer-copy {
  color: var(--cor5);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
}
.footer-autor {
  color: rgba(255, 242, 231, 0.5);
}
